<ion-header>
  <ion-navbar>
    <ion-title>
      Cours
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-refresher (ionRefresh)="rafraichirListe($event)">
 		<ion-refresher-content>
		</ion-refresher-content>
	</ion-refresher>
	<ion-list>
		<button ion-item *ngFor="let monnaie of monnaie" (click)=selectMonnaie(monnaie)>
		<h1>{{ monnaie.name }}</h1>
		<h2>Prix : {{ monnaie.price_usd | currency:'USD':'symbol':'1.2-8'}}</h2>
		<p>Cap : {{monnaie.market_cap_usd | currency:'USD':'symbol':'1.2-8'}}</p>
		<p item-right>{{monnaie.percent_change_24h}}</p>
		<ion-icon name="arrow-forward" item-right *ngIf="monnaie.percent_change_24h == 0"></ion-icon>
		<ion-icon color="secondary" name="arrow-up" item-right *ngIf="monnaie.percent_change_24h > 0"></ion-icon>
		<ion-icon color="danger" name="arrow-down" item-right *ngIf="monnaie.percent_change_24h < 0"></ion-icon>
		</button>
	</ion-list>
</ion-content>
